body {
 font-family: sans-serif;
}

#uploadedFiles ul {
    padding-left: 0px;
}

#uploadedFiles ul li {
            
}

#uploadedFiles ul li:hover {
    background-color: #c9f600;
}

#uploadedFiles ul li img {
    width: 30px;
    height: 40px;
}

.span1 {
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}

.span2 {
    position: absolute;
    font-size: 12px;
    color: gray;
    margin-left: 35px;
    margin-top: -20px;
}